body {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  color: white;
  background-color: #212222;
  margin: 0px;
  padding: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
  height: 10vh;
}
main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 77vh;
}
main div {
  position: relative;
  font-size: 5.25vh;
  transition: filter 0.5s ease-out, transform 0.2s ease-out;
  will-change: transform, filter;
  text-align: center;
}
main div .context {
  position: absolute;
  font-size: 1.5vh;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
  transform: scaleY(0);
  transition: transform 0.4s ease-out;
  transform-origin: top;
}
main > div::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #f73b3b;
  transform: scaleX(0);
  transition: transform 0.35s ease-out;
  border-radius: 5px;
  z-index: -1;
}
@keyframes BG {
  from {
    background-color: #f73b3b;
  }
  to {
    background-color: #b21414;
  }
}
main > div:hover {
  transform: scale(1.6);
}
main > div:hover .context {
  transform: scaleY(1);
}
main > div:hover::before {
  transform: scaleX(1.2);
  animation-name: BG;
  animation-duration: 1s;
  animation-fill-mode: both;
}
main:has(div:hover) div {
  filter: blur(5px);
}
main .W:hover {
  filter: none;
}
main .W:hover .context {
  filter: none;
}
main .A:hover {
  filter: none;
}
main .A:hover .context {
  filter: none;
}
main .H:hover {
  filter: none;
}
main .H:hover .context {
  filter: none;
}
footer {
  height: 12vh;
}
